body {
    background-color: darkgrey;
    font-family: "Comic Sans MS";
}

header {
    border: 2px dotted blue;
    margin: 50px;
    padding: 25px;
    float: center;
    background-color: skyblue;
    font-family: Verdana;
}

article {
    text-align: center;
    background-color: lightgreen;
}

main > h3 {
        background-color: pink;
}

.byline{
    font-family: courier;
    font-size: 10px;
}

#thing {
    font-size: 24px;
    font-family: Helvetica;
    padding-bottom: 0px;   
    margin-bottom: 0px;
}